server {
  listen 80 default_server;
  server_name rails.local;

  root {{ rails_app_location }}/current/public;

  access_log {{ rails_app_location }}/shared/log/nginx-access.log;
  error_log  {{ rails_app_location }}/shared/log/nginx-error.log;

  passenger_enabled on;
  passenger_user    www-data;
  passenger_group   www-data;
  rack_env          production;
}
